<footer class="border-t-[1px] border-border px-4 md:px-6 pt-10 md:pt-16 bg-gray-800 overflow-hidden max-h-[900px] pb-14 -mb-2 ">
  <div class="container"> 
    <div class="flex justify-between items-center border-border border-b-[1px] pb-10 md:pb-16 mb-12 ">
      <img src="assets/images/tast-managment-high-resolution-logo-white-transparent__1_-removebg-preview.png" alt="logo" class="max-w-32 h-20 mb-0">

      <span class="font-normal md:text-2xl text-right text-white"> Manage your plans here</span>
    </div>

    <div class="flex flex-col md:flex-row w-full">

      <div class="flex flex-col space-y-8 md:space-y-0 md:flex-row md:w-6/12 justify-around leading-8">
        @for (info of footerInfo; track $index) {
          <app-footer-info
            [title]="info.title"
            [links]="info.links" 
          />
        }
      </div>

          <div class="grid grid-cols-4 gap-1 ml-96">
            <img src="assets/images/99655e9fe24eb0a7ea38de683cedb735-removebg-preview.png" alt="X" class="w-10" >
            <img src="assets/images/facebook-logo-black-2019-removebg-preview.png" alt="X" class="w-10"  >
            <img src="assets/images/logo-computer-icons-instagram-logo-removebg-preview.png" alt="X" class="w-10"  >
            <img src="assets/images/images-removebg-preview.png" alt="X" class="w-16 h-16 -mt-3 -ml-1">
          </div>

    </div>

   

  </div>
</footer>