:host {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .form-height {
    max-height: 460px;
    height: 420px;
    overflow: hidden;
  }

  .loading-form {
    gap: 8px;
    overflow: hidden;
  }

  .error-form {
    gap: 0.1px;
    overflow: hidden;
  }

  .success-form {
    gap: 0.2px;
    overflow: hidden;
  }
}