<form [formGroup]="form" (ngSubmit)="addColumn()" [ngClass]="{'loading-form': loading, 'error-form': errorMessage, 'success-form': successMessage}" class="flex flex-col gap-4 overflow-hidden form-height transition-all duration-300">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" class="text-gray-700">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full"> 
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" class="text-gray-700">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Position</mat-label>
    <input matInput type="number" formControlName="position" class="text-gray-700">
  </mat-form-field> 

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Task Status</mat-label>
    <mat-select formControlName="taskStatus" class="text-gray-700">
      <mat-option value="ToDo">To Do</mat-option>
      <mat-option value="Done">Done</mat-option>
    </mat-select>
  </mat-form-field>

  @if (loading) {
    <div class="flex justify-center my-0">
      <mat-spinner class="my-0" diameter="30"></mat-spinner>
    </div>
  }


  @if (successMessage) {
    <div class="w-56 h-14 flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 en-800" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg> 
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium w-auto">Success alert!</span> {{successMessage}}
      </div>
    </div>
  }

  @if (errorMessage && !loading) {
    <div class="w-56 h-14 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 low-800" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">Warning alert!</span> {{errorMessage}}.
      </div>
    </div>
  }

  <button type="submit" mat-raised-button color="primary" class="w-full" [disabled]="loading">Submit</button>

  
</form>
