<header class='flex shadow-md py-4 px-4 sm:px-10 bg-gray-900 font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
  <div class='flex flex-wrap items-center justify-between gap-5 w-full'>

    <div>
      <a routerLink="/">
        <img src="assets/images/tast-managment-high-resolution-logo-white-transparent__1_-removebg-preview.png" alt="logo" class='w-30 h-30 cursor-pointer max-w-[100px]'/>
      </a>
    </div>


    <div class="hidden md:flex">
      <ul class="flex gap-x-5">
        <li class='py-3 px-3 cursor-pointer'>
          <a routerLink="/" class='hover:text-[#7997b8] text-[#d3c9c9] block font-semibold text-[15px]'>
            Home
          </a>
        </li>
        <li id="authed" *ngIf="isAuthenticated" class='py-3 px-3 cursor-pointer'>
          <a routerLink="workspace" class='hover:text-[#7997b8] text-[#d3c9c9] block font-semibold text-[15px]'>
            Workspace
          </a>
        </li>
        <li id="notAuthed" *ngIf="!isAuthenticated" class='py-3 px-3 cursor-pointer'>
          <a routerLink="auth" class='hover:text-[#7997b8] text-[#d3c9c9] block font-semibold text-[15px]'>
            Workspace
          </a>
        </li>
        <li class='py-3 px-3 cursor-pointer'>
          <a routerLink="about" class='hover:text-[#7997b8] text-[#d3c9c9] block font-semibold text-[15px]'>
            About
          </a>
        </li>
        <li class='py-3 px-3 cursor-pointer'>
          <a routerLink="contact" class='hover:text-[#7997b8] text-[#d3c9c9] block font-semibold text-[15px]'>
            Contact
          </a>
        </li>
      </ul>
    </div>


    <div *ngIf="isAuthenticated" class="flex justify-around">
      <button (click)="logout()" class='px-4 py-2 mr-2 text-sm rounded-full font-bold text-white border-2 border-[#f75959] bg-[#f04a4a] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff]'>
        Logout
      </button>

      <div class="block md:hidden">
        <button mat-button [matMenuTriggerFor]="menu">
          <span class="w-full h-full flex justify-center items-center">
            <mat-icon>menu</mat-icon>
          </span>
        </button>
      </div>
    </div>

    <div *ngIf="!isAuthenticated" class='flex gap-2'>
      <button routerLink="auth" class='px-4 py-2 text-sm rounded-full font-bold text-white border-2 border-[#007bff] bg-[#3f93ec] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff]'>
        Login
      </button>
      <button routerLink="auth/register" class='px-4 py-2 text-sm rounded-full font-bold text-white border-2 border-[#007bff] bg-[#3f93ec] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#007bff]'>
        Sign up
      </button>
      
      <div class="block md:hidden">
        <button mat-button [matMenuTriggerFor]="menu">
          <span class="w-full h-full flex justify-center items-center">
            <mat-icon>menu</mat-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>
      <a routerLink="/">
        Home
      </a>
    </span>
  </button>

  <button mat-menu-item>
    <mat-icon>apps</mat-icon>
    <span>
      @if (isAuthenticated) {
        <a routerLink="/workspace">
          Workspace
        </a>
      } @else {
        <a routerLink="/auth">
          Workspace
        </a>
      }
    </span>  
  </button>

  <button mat-menu-item>
    <mat-icon>groups_2</mat-icon>
    <span routerLink="about">
      About
    </span>
  </button>

  <button mat-menu-item>
    <mat-icon>contact_page</mat-icon>
    <span routerLink="contact">
      Contact
    </span>
  </button>

</mat-menu>