<div class="flex justify-between">
  <div class="grid grid-cols-1 w-3/5 text-start">
    <div class="font-sans text-3xl font-bold text-neutral-800 m-0 p-0 w-fit h-fit">
      Eliminate manual tasks
    </div>
    <div class="font-sans text-xl font-normal text-neutral-700 m-0 p-0 w-auto h-auto">
      Automate routine tasks so you can focus on <br> the work that matters. Prioritize tasks, set due <br> dates, and check statuses with a glance.
    </div>
    <div>
      <app-get-started/>
    </div>
  </div>

<div class="w-2/4 sm:w-full h-full sm:h-auto">
  <img src="assets/images/b176c561-b8ff-472f-a4b2-57c4820309cb_dashboard_Teamtasksoverview.avif" alt="Some Photo" class="w-full h-full">
</div>
