<div class="bg-gray-100 text-gray-800 min-h-screen">
  <main class="container mx-auto p-6">
    <section class="bg-white p-8 rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      <h2 class="text-3xl font-semibold mb-6 animate__animated animate__fadeInUp">About This Project</h2>
      <p class="mb-4 text-lg leading-relaxed animate__animated animate__fadeIn animate__delay-1s">
        Welcome to the Task Management App! This application is designed to help you efficiently manage your tasks and stay organized. Whether you're juggling multiple projects or just need a better way to keep track of your to-do list, our app has you covered.
      </p>
      <p class="mb-4 text-lg leading-relaxed animate__animated animate__fadeIn animate__delay-2s">
        This project was developed as the final project for the Angular course organized by Alte University. Over the course of 4 months, we delved deep into Angular and Firebase to bring this app to life. Additionally, we utilized RxJS to manage asynchronous data streams and enhance the app's responsiveness.
      </p>
      <p class="mb-4 text-lg leading-relaxed animate__animated animate__fadeIn animate__delay-3s">
        Key features of the Task Management App include:
      </p>
      <ul class="list-disc list-inside mb-4 text-lg leading-relaxed animate__animated animate__fadeIn animate__delay-4s">
        <li>Create, update, and delete tasks</li>
        <li>Organize tasks by categories</li>
        <li>Set deadlines and reminders</li>
        <li>Track progress and completion status</li>
        <li>User-friendly interface with responsive design</li>
      </ul>
      <p class="mb-4 text-lg leading-relaxed animate__animated animate__fadeIn animate__delay-5s">
        We hope this app helps you stay productive and manage your time more effectively. Thank you for using our Task Management App!
      </p>
      <p class="text-lg leading-relaxed animate__animated animate__fadeIn animate__delay-6s">
        <strong>Developed by:</strong> 
        
        <a routerLink="../contact" class="cursor-pointer"> Rezo Alikadze </a> 
      </p>
    </section>
  </main>
</div>
